/* páginas secundárias */
.container {
	
	width: 60%;
	margin-top: 5px;
	margin-right: auto;
    margin-left: auto; 
	overflow: hidden;
	height: 1%;
	
}
.main_div {	
	width: 79%;
	overflow: hidden;
	height: 1%;
	float:left;
	background-color: #333333;
	border-radius: 5px;
} 

.sec_div{	
	float: right;
	width: 20%;
	margin: auto;
	height: 200px;
	background-color: #333333;
	border-radius: 5px;
}

.imagem{
	padding: 5px 50px 5px 5px;
	width:15%;
	height: auto;
	float: left;
}
.icon{
	width:5%;
	height: auto;
	padding: 10px 10px 10px 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.padding{
	padding-left: 20px;
	
}

a.b:link {
    color: white;
    background-color: transparent;
}

a.b:visited {
    color: blue;
    background-color: transparent;
}